@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

#logo {
	width:10%; height:10%;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}