@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

table { 
margin-left: auto;
margin-right: auto; 
}
.left {
float:left;
}
.right {
float:right;
}
.center {
text-align: center;
}
#keyword { 
float:right;
}
#query_table {
width:350px;
}
#results_table {
width:800px;
}
.results {
border:1px solid black;
}
form { 
text-align:center; 
}
h1 { 
text-align:center; 
}